{% extends 'UserApp/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" >
        {% csrf_token %}
        <table border="1" align="center" style="width: 30%;height:35%;">
            <br>
            <br>
            <br>
            <br>
            <tr>
                <td style="padding-left: 5%;">For Date</td>
                <td><input type="date" name="fordate"></td>
            </tr>
            <tr>
                <td style="padding-left: 5%;">Service Type</td>
                <td><select name="seltype">
                    <option value="">Select</option>
                    {% for i in stype %}
                    <option value="{{i.id}}">{{i.service_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td style="padding-left: 5%;">Details</td>
                <td><textarea name="details"></textarea></td>
            </tr>
            <tr>
                <td style="padding-left: 5%;">Car</td>
                <td><input type="text" name="car"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="save" value="Save">
                    <input type="reset" name="can" value="Cancel"></td>
            </tr>
        </table>
    </form>
</body>
</html>
{% endblock content %}