{% extends 'Admin/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
    <table border="1" align="center">
        <tr>
        <td>
            <label for="manufacture">Manufacture:</label>
        </td>
        <td>
            <select id="manufacture" name="manufacture" >
                <option value="" >Select</option>
                {% for i in Data %}
                    <option value="{{i.id}}" {% if i.id == Make.manufacturer.id   %} selected {% endif %}>{{i.manufacturer_name}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="name">Name:</label>
        </td>
        <td>
            <input type="text" id="name" name="makename" value="{{Make.make_name}}">
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" name="save" value="save">
            <input type="reset" value="cancel" name="cancel"></td>
</tr></table>
    <table border="1" align="center">
        <tr>
         <thead>
             <tr>
                 <th>si.no</th>
                 <th>Manufacturer</th>
                 <th>Name</th>
                 <th>action</th>
             </tr>
         </thead>
         <tbody>
            {% for i in data %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.manufacturer.manufacturer_name}}</td>
            <td>{{i.make_name}}</td>
            <td><a href="{%url 'Webadmin:Deletemake' i.id %}">Delete</a>
            <a href="{%url 'Webadmin:updatemake' i.id %}">Edit</a></td>
        </tr>
            {% endfor %}
         </tbody>
    </table>
    </form>
</body>
</html>
{% endblock content %}